<!DOCTYPE html>
<html lang="en" style="font-size: 17px;">
<img src="/static/_images/" alt="news image" id="news_thumbnail">

<head>
    <meta charset="UTF-8">
    <title>Image Classification</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/_css/styles.css">
</head>
<>
<!--<img id="fullLogo" src="/static/_images/back.jpg" alt="تشخیص تصاویر" height="10%" width="10%" >-->
<body>
<form class="form1" method="POST" action="" dir="rtl" enctype="multipart/form-data">
    <h2 class="test" style="margin-right:43%; direction: ltr;">Upload your Image!</h2>
    <input class="input" style="margin-right: 44%" type="file" name="file" align="middle">
    <button type="submit" style="direction: ltr" class='button button1' align="middle" name='action' value='Process'>Classify!</button>
</form>


<!--<button>{{ label }}</button>-->
</body>
</html>
